<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:insert="inc/header">
    <title>Comics</title>
    <meta charset="utf-8">
</head>

<body>

<div th:insert="inc/form-layout"></div>
        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void()">Dashboard</a></li>
                        <li class="breadcrumb-item active" style="font-weight: bold">Quản lý Truyện</li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title row">
                                    <div class="col-md-12 mb-4">
                                        <h3 class="td-center">DANH SÁCH TRUYỆN</h3>
                                    </div>
                                    <div th:if="${success}" class="col-md-12 alert alert-success alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <strong th:text="${success}"></strong>
                                    </div>
                                    <div th:if="${fail}" class="col-md-12 alert alert-danger alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <strong th:text="${fail}"></strong>
                                    </div>
                                    <div th:if="${nochange}" class="col-md-12 alert alert-warning alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <strong th:text="${nochange}"></strong>
                                    </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!--<a asp-controller="QuanLyNhanVien" asp-action="Index" style="float:right;"><button class="btn btn-primary">Quay lại <i class="fa fa-undo" aria-hidden="true"></i></button></a>-->
                                        <a th:href="@{/comic/add}" style="float:right;">
                                            <button class="btn btn-primary"><span style="margin-right: 10px">Thêm mới </span><i class="fa fa-plus"></i></button>
                                        </a>
                                    </div>
                                </div>
                                <div id="accordion-three" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne4"><i class="fa" aria-hidden="true"></i> Tìm kiếm nâng cao</h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" data-parent="#accordion-three">
                                            <div class="card-body">
                                                <form method="get">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="status">Tình trạng</label>
                                                                <select class="form-control" name="status">
                                                                    <option value="">-- Chọn tình trạng --</option>
                                                                    <option value="1">Tạm dừng</option>
                                                                    <option value="2">Đang tiến hành</option>
                                                                    <option value="3">Hoàn thành</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="year">Năm phát hành</label>
                                                                <select class="form-control" name="year">
                                                                    <option value="">-- Chọn năm --</option>
                                                                    <option value="2015">2015</option>
                                                                    <option value="2016">2016</option>
                                                                    <option value="2017">2017</option>
                                                                    <option value="2018">2018</option>
                                                                    <option value="2019">2019</option>
                                                                    <option value="2020">2020</option>
                                                                    <option value="2021">2021</option>
                                                                    <option value="2022">2022</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="authorName">Thể loại</label>
                                                                <ul id="categoriesList">
                                                                </ul>
                                                                <input id="categoryInput" list="categoriesRecommence" type="text" class="form-control" placeholder="Nhập thể loại...">
                                                                <datalist id="categoriesRecommence">
                                                                    <option value="Action">
                                                                    <option value="Romance">
                                                                    <option value="Fantasy">
                                                                    <option value="Adventure">
                                                                    <option value="Drama">
                                                                </datalist>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="authorName">Tác giả</label>
                                                                <ul id="authorsList">
                                                                </ul>
                                                                <input id="authorInput" list="authorsRecommence" type="text" class="form-control" placeholder="Nhập tác giả...">
                                                                <datalist id="authorsRecommence">
                                                                    <option value="Edge">
                                                                    <option value="Firefox">
                                                                    <option value="Chrome">
                                                                    <option value="Opera">
                                                                    <option value="Safari">
                                                                </datalist>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 td-center form-group">
                                                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="DataTable" class="table table-bordered table-hover zero-configuration">
                                        <thead class="text-primary">
                                            <tr>
                                                <th style="width:5%; min-width:70px;" class="th-center-bold">#</th>
                                                <th style="width:5%; min-width:70px;" class="th-center-bold">ID</th>
                                                <th style="width:15%; min-width:100px;" class="th-center-bold">Bìa</th>
                                                <th style="width:20%; min-width:150px;" class="th-center-bold">Tên truyện</th>
                                                <th style="width:12%; min-width:100px;" class="th-center-bold">Thể loại</th>
                                                <th style="width:12%; min-width:100px;" class="th-center-bold">Tác giả</th>
                                                <th style="width:8%; min-width:60px;" class="th-center-bold">Số chapter</th>
                                                <th style="width:8%; min-width:60px;" class="th-center-bold">Tình trạng</th>
                                                <th style="width:5%; min-width:40px;" class="th-center-bold">Chi tiết</th>
                                                <th style="width:5%; min-width:40px;" class="th-center-bold">Sửa</th>
                                                <th style="width:5%; min-width:40px;" class="th-center-bold">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="td-center">1</td>
                                                <td class="td-center">1</td>
                                                <td class="td-center"><img src="./images/comics_img/comic_1.jpg" style="width:100px;"></td>
                                                <td>Naze Boku no Sekai wo Daremo Oboeteinai no ka?</td>
                                                <td>Action - Drama - Shounen - Blabla - Fantasy</td>
                                                <td>ABC</td>
                                                <td class="td-center">42</td>
                                                <td class="td-center">Hoàn thành</td>
                                                <td class="td-center">
                                                    <a href="#">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChiTietKH"><i class="fa fa-info"></i></button>
                                                    </a>
                                                </td>
                                                <td class="td-center">
                                                    <form method="post">
                                                        <input value="KhachHangId" type="hidden" name="id" />
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                                    </form>
                                                </td>
                                                <td class="td-center">
                                                    <a>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#XoaKhachHangId"><i class="fa fa-close"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td-center">2</td>
                                                <td class="td-center">2</td>
                                                <td class="td-center"><img src="./images/comics_img/comic_2.jpg" style="width:100px;"></td>
                                                <td>Tensei Shitara Suraimu datta Kudan</td>
                                                <td>Action - Drama - Shounen - Isekai - Fantasy</td>
                                                <td>ABC</td>
                                                <td class="td-center">78</td>
                                                <td class="td-center">Đang cập nhật</td>
                                                <td class="td-center">
                                                    <a href="#">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChiTietKH"><i class="fa fa-info"></i></button>
                                                    </a>
                                                </td>
                                                <td class="td-center">
                                                    <form method="post">
                                                        <input value="KhachHangId" type="hidden" name="id" />
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                                    </form>
                                                </td>
                                                <td class="td-center">
                                                    <a>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#XoaKhachHangId"><i class="fa fa-close"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="XoaKhachHangId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel" style="margin: auto;">Are you sure to delete this: </h3>
                            </div>
                            <div class="modal-footer" style="margin: auto;">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <form method="post">
                                    <button name="id" type="submit" class="btn btn-danger" value="KhachHangId">Yes, delete it !</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- #/ container -->
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
<div th:insert="inc/footer"></div>
</body>

</html>
