<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:insert="inc/header">
    <title>Comic - Thêm Truyện</title>
    <meta charset="utf-8">
</head>

<body>

<div th:insert="inc/form-layout"></div>
        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="./comics.html">Quản lý Truyện</a></li>
                        <li class="breadcrumb-item active" style="font-weight: bold">Thêm Truyện</li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <a href="./comics.html" style="float:left;"><button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay lại</button></a>
                                    </div>
                                </div>
                                <form id="comicAdd" name="comicAdd" method="get">
                                    <div class="row">
                                        <div class="col-lg-12 mb-3"><h3>Thông tin truyện</h3></div>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="comicName">Tên truyện <span class="text-danger">*</span></label>
                                                        <input type="text" name="comicName" class="form-control" placeholder="Nhập tên truyện..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="status">Tình trạng <span class="text-danger">*</span></label>
                                                        <select class="form-control" name="status" required>
                                                            <option value="">-- Chọn tình trạng --</option>
                                                            <option value="1">Tạm dừng</option>
                                                            <option value="2">Đang tiến hành</option>
                                                            <option value="3">Hoàn thành</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label id="categoryName" for="categoryName">Thể loại <span class="text-danger">*</span></label>
                                                        <ul id="categoriesList">
                                                        </ul>
                                                        <input id="categoryInput" list="categoriesRecommence" type="text" class="form-control" placeholder="Nhập thể loại...">
                                                        <datalist id="categoriesRecommence">
                                                            <option value="Action">
                                                            <option value="Romance">
                                                            <option value="Fantasy">
                                                            <option value="Adventure">
                                                            <option value="Drama">
                                                        </datalist>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label id="authorName" for="authorName">Tác giả <span class="text-danger">*</span></label>
                                                        <ul id="authorsList">
                                                        </ul>
                                                        <input id="authorInput" list="authorsRecommence" type="text" class="form-control" placeholder="Nhập tác giả...">
                                                        <datalist id="authorsRecommence">
                                                            <option value="Edge">
                                                            <option value="Firefox">
                                                            <option value="Chrome">
                                                            <option value="Opera">
                                                            <option value="Safari">
                                                        </datalist>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="description">Nội dung <span class="text-danger">*</span></label>
                                                        <textarea class="form-control h-150px" rows="4"
                                                                  form="addComic" name="description" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="ngay">Ngày phát hành <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control mydatepicker" name="dateFrom" placeholder="mm/dd/yyyy" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="ngay">Ngày kết thúc <span class="text-danger">(Không bắt buộc)</span></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control mydatepicker" name="dateTo" placeholder="mm/dd/yyyy"> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="thumbnail">Ảnh bìa <span class="text-danger">*</span></label>
                                                        <input type="file" name="thumbnail" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 td-center">
                                            <button type="submit" class="btn btn-primary submit">Thêm truyện</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
<div th:insert="inc/footer"></div>
</body>

</html>
