<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
  <div class="copyright">
    <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a>
      2018</p>
  </div>
</div>
<!--**********************************
    Footer end
***********************************-->
<script>
    function checkDel() {
        if ($("#checkBoxAll").is(":checked")) {
            $(".chkCheckBoxId").prop("checked", true);
            $("#btnDel").prop("disabled", false);
        }
        else {
            $(".chkCheckBoxId").prop("checked", false);
            $("#btnDel").prop("disabled", true);
        }
    }
    function checkSingleDel() {
        if ($(".chkCheckBoxId").is(":checked")) {
            $("#btnDel").prop("disabled", false);
        }
        else {
            $("#btnDel").prop("disabled", true);
        }
    }
</script>
<script th:src="@{/res/js/js-custom.js}"></script>
<script th:src="@{/res/js/js-multi-images.js}"></script>

<script th:src="@{/res/plugins/common/common.min.js}"></script>
<script th:src="@{/res/js/custom.min.js}"></script>
<script th:src="@{/res/js/settings.js}"></script>
<script th:src="@{/res/js/gleek.js}"></script>
<script th:src="@{/res/js/styleSwitcher.js}"></script>

<script th:src="@{/res/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/res/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/res/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

<script th:src="@{/res/plugins/moment/moment.js}"></script>
<script th:src="@{/res/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
<!-- Clock Plugin JavaScript -->
<script th:src="@{/res/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script>
<!-- Color Picker Plugin JavaScript -->
<script th:src="@{/res/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js}"></script>
<script th:src="@{/res/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js}"></script>
<script th:src="@{/res/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js}"></script>
<!-- Date Picker Plugin JavaScript -->
<script th:src="@{/res/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- Form Picker Init JavaScript -->
<script th:src="@{/res/js/plugins-init/form-pickers-init.js}"></script>

<!-- jQuery UI library -->
<script th:src="@{/res/plugins/jqueryui/js/jquery-ui-1-12-1.js}"></script>
</body>
</html>