<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title th:if="${categoryPage}">Categories - Thể loại</title>
    <title th:if="${authorPage}">Authors - Tác giả</title>
    <th:block th:switch="${page}">
        <title th:case="'categoriesPage'">Categories - Thể loại</title>
        <title th:case="'authorsPage'">Authors - Tác giả</title>
        <title th:case="'comicsPage'">Comics - Truyện</title>
        <title th:case="'chaptersPage'">Chapters - Chương</title>
        <title th:case="'rolesPage'">Roles - Quyền người dùng</title>
        <title th:case="'usersPage'">Users - Người dùng</title>
        <title th:case="'translateteamsPage'">Translate Teams - Nhóm dịch</title>
    </th:block>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/res/images/logo-KK.png}">

    <link rel="stylesheet" th:href="@{/res/plugins/jqueryui/css/jquery-ui-1-12-1.css}">
    <!-- Pignose Calender -->
    <link rel="stylesheet" th:href="@{/res/plugins/pg-calendar/css/pignose.calendar.min.css}" >
    <!-- Chartist -->
    <link rel="stylesheet" th:href="@{/res/plugins/chartist/css/chartist.min.css}">
    <link rel="stylesheet" th:href="@{/res/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" th:href="@{/res/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}">
    <link rel="stylesheet" th:href="@{/res/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}">
    <!-- Page plugins css -->
    <link rel="stylesheet" th:href="@{/res/plugins/clockpicker/dist/jquery-clockpicker.min.css}">
    <!-- Color picker plugins css -->
    <link rel="stylesheet" th:href="@{/res/plugins/jquery-asColorPicker-master/css/asColorPicker.css}">
    <!-- Date picker plugins css -->
    <link rel="stylesheet" th:href="@{/res/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" >
    <link rel="stylesheet" th:href="@{/res/css/style.css}">
    <link rel="stylesheet" th:href="@{/res/css/style-custom.css}">
    <script th:src="@{/res/plugins/jquery/jquery-3.6.0-min.js}"></script>
    <script th:src="@{/res/plugins/validation/jquery.validate.min.1.19.3.js}"></script>
</head>
<body>

</body>
</html>